.env
.env.*
.git/
.gitignore
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.log
*.egg-info/
.coverage
.coverage.*
coverage.xml
htmlcov/
build/
dist/
tests/
venv/
.venv/
ENV/
uploads/
